<table class="table table-hover">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th><a href="/awardcategorys/new">+ADD</a></th>
  </thead>

  {{#each awardcategorys }}
    <tr id='awardcategory{{id}}'>
      <td><a href="/awardcategorys/{{id}}">{{id}}</a></td>
      <td><a href="/awardcategorys/{{id}}">{{name}}</a></td>
      <td><a href="/awardcategorys/{{id}}">{{description}}</a></td>
      <td><a href="/awardcategorys/{{id}}/edit">edit</a></td>
    </tr>
  {{/each}}

</table>
