<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Top 10 Nominations by Location - {{leaderboard_show_table.from}} -> {{leaderboard_show_table.to}}</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <table class="table table-hover">
  <thead>
    <th>Location</th>
    <th>Total</th>
    <th>Harpers</th>
    <th>LooseWheels</th>
    <th>TeamPlayers</th>
    <th>Above & Beyonds</th>
  </thead>

  {{#each leaderboard_show_table.locations }}
    <tr>
      <td>{{location}}</td>
      <td>{{total}}</td>
      <td>{{harpers}}</td>
      <td>{{loosewheels}}</td>
      <td>{{teamplayers}}</td>
      <td>{{aboveandbeyonds}}</td>
    </tr>
  {{/each}}

  </table>

</div>
