
<div id="nomination{{id}}" class="nomination nomination-box box" data-id="{{id}}">

  <div class="nomination-box-header box-header">
    <div class="nomination-box-info box-info">
      <img class="profilePic" src="/images/profile-pic.png" alt="Profile Picture">
      <p>{{staffName}}</p>
      <p>{{winner}}</p>
    </div>

    <div class="nomination-box-buttons box-buttons">
      <button class="btn btn-primary select select-nomination" type="submit">Select</button>
      <button class="btn btn-info edit edit-nomination" type="submit">Edit</button>
      <button class="btn btn-danger deselect deselect-nomination" type="submit">Close</button>
    </div>
  </div>

  <div class="nomination-box-description box-description">
    <p>{{description}}</p>
  </div>

</div>
