<form action="/nominations" method="post">

  <div class="form-group">
    <label for="officeId">Office</label>
    <select class="form-control" name="officeId">
      {{#each nomination_new_form.offices}}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="weekId">Week</label>
    <select class="form-control" name="weekId">
      {{#each nomination_new_form.weeks}}
        <option value="{{id}}">{{dateformat date}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="awardcategoryId">Award</label>
    <select class="form-control" name="awardcategoryId">
      {{#each nomination_new_form.awards}}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="staffId">Staff</label>
    <select class="form-control" name="staffId">
      {{#each nomination_new_form.staffs}}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" rows="4"></textarea>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
