<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">

      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/events/{{eventId}}">{{eventName}}</a></li>
        {{#each eventAwards}}
          <li>
            <a href="/events/{{../eventId}}/awards/{{awardId}}">
              {{awardcategoryName}}
            </a>
          </li>
          {{#each awardNominations}}
            <li class="active">
              <a href="/events/{{../../eventId}}/awards/{{../awardId}}/nominations/{{nominationId}}">
                {{staffName}}
              </a>
            </li>
          {{/each}}
        {{/each}}
      </ol>
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>{{eventName}}  -  {{eventOfficeName}}  -  {{dateformat eventEnddate}}</h2>
    </div>
  </div>

  {{#each eventAwards}}
    <div class="row">

      <div class="col-md-12">
        <div class="panel panel-default">

          <div class="panel-heading">
            <p>{{awardcategoryName}}  -  {{awardcategoryDescription}}</p>
          </div>

          {{#each awardNominations}}
            <div class="list-group">
              <div class="list-group-item">

                <div class="nomination-nomination nomination" data-nominationid="{{nominationId}}" data-nominationwinner="{{nominationWinner}}" data-eventenddate="{{../../eventEnddate}}">

                  <div class="nomination-nominationContent">
                    <img class="nomination-nominationProfilePic" src="/images/profile-pic.png" alt="Staff Profile Picture">

                    <h2>{{staffName}}</h2>

                    <div class="nomination-nominationButtons">
                      <a href="/events/{{../../eventId}}/awards/{{../awardId}}/nominations/{{nominationId}}/edit">
                        <img src="/images/pencil.png" alt="Edit">
                      </a>
                      <img class="winnerButtons winner" style="display: none;" src="/images/tick.png" alt="Winner">
                      <img class="winnerButtons loser" style="display: none;" src="/images/cross.png" alt="Loser">
                      <img class="winnerButtons maybe" src="/images/waiting.png" alt="Waiting">
                    </div>
                  </div>

                  <div class="nomination-nominationBot">
                    <p>{{nominationDescription}}</p>
                  </div>

                </div>

              </div>
            </div>
          {{/each}}


        </div>
      </div>

    </div>
  {{/each}}

</div>
