<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1>Edit Event: {{eventName}} - {{eventStartdate}} -> {{eventEnddate}}</h1>

      <form action="/events/{{eventId}}" method="post">
        <div class="form-group">
          <label for="eventName">Event Name</label>
          <input type="text" class="form-control" id="eventName" name="eventName" value="{{eventName}}">
        </div>

        <div class="form-group">
          <label for="eventDescription">Event Description</label>
          <input type="text" class="form-control" id="eventDescription" name="eventDescription" value="{{eventDescription}}">
        </div>

        <div class="form-group">
          <label for="eventStartdate">Start Date</label>
          <input type="date" class="form-control" id="eventStartdate" name="eventStartdate" value="{{eventStartdate}}">
        </div>

        <div class="form-group">
          <label for="eventEnddate">End Date</label>
          <input type="date" class="form-control" id="eventEnddate" name="eventEnddate" value="{{eventEnddate}}">
        </div>

        <div class="form-group">
          <label for="eventOfficeId">Office</label>
          <select id="eventOfficeId" class="form-control" name="eventOfficeId">
            <option value="-1">Select an Office</option>
            <option value="{{eventOfficeId}}" selected="selected">{{eventOfficeName}}</option>
          </select>
        </div>

        <div class="form-group">
          {{!-- <label for="eventAwardcategorys">Award Categories</label> --}}
          <input type="checkbox" checked="checked" name"eventAwardcatego" value="1x" id="dd"> Award Name - award description
          {{!-- <input type="checkbox" name"eventAwardcategor" value="2c" id="jj"> Award  - award description --}}
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>

    </div>
  </div>
</div>


<script type="text/javascript">
  console.log('Script tag: event_edit')
  document.addEventListener("DOMContentLoaded", function() {
    window.custom.event_edit()
  });
</script>
