<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>{{eventName}}  -  {{eventOfficeName}}  -  {{dateformat eventEnddate}}</h2>
    </div>
  </div>

  {{#each eventAwards}}
    <div class="row">

      <div class="col-md-12">
        <div class="panel panel-default">

          <div class="panel-heading">
            <p>{{awardcategoryName}}  -  {{awardcategoryDescription}}</p>
          </div>
          <div class="panel-body">
            <p>...</p>
          </div>

        </div>
      </div>

    </div>
  {{/each}}

  <div class="row">
    <div class="col-md-12">
        <h2>New Nomination:</h2>

        {{#each eventAwards}}
          {{#each awardNominations}}
            <form action="/events/{{../../eventId}}/awards/{{../awardId}}/nominations/{{nominationId}}" method="post">

              <div class="form-group">
                <label for="nominationAwardId">Award</label>
                <select id="nominationAwardId" class="form-control" name="nominationAwardId">
                  <option value="{{../awardId}}" selected="selected">{{../awardcategoryName}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="nominationStaffId">Staff</label>
                <select id="nominationStaffId" class="form-control" name="nominationStaffId">
                  <option value="{{staffId}}" selected="selected">{{staffName}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="nominationDescription">Nomination Description</label>
                <textarea type="text" class="form-control" id="nominationDescription" name="nominationDescription" placeholder="Nomination description">{{nominationDescription}}</textarea>
              </div>

              <button type="submit" class="btn btn-default">Submit</button>

            </form>
          {{/each}}

        {{/each}}

      </div>
  </div>

</div>


<script type="text/javascript">
  console.log('Script tag: event_show')
  document.addEventListener("DOMContentLoaded", function() {
    window.custom.event_award_nomination_edit()
  });
</script>
