<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Friday Meeting{{title}}  -  {{awardlocation}}  -  "Week Goes Here"{{week}}</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-default">

        <div class="panel-heading">
          <p>{{awardcategory}}  -  {{awardcategoryDescription}}</p>
        </div>
        <div class="panel-body">
          <p>...</p>
        </div>

        <ul class="list-group">
          <li class="person list-group-item">
            <img height="50px" src="https://img.clipartfest.com/fd7d1ac3605a7cd2954a6ea29a9c88cc_business-person-cartoon-business-person-clipart_326-425.jpeg" alt="">
            <p>{{nominationPerson}}</p>
            <p>{{nominationDescription}}</p>
            <p>{{awardWinner}}</p>
          </li>
        </ul>

      </div>
    </div>

  </div>
</div>
