<h1>Edit Nomination (id: {{nomination.id}})</h1>

<form action="/nominations/{{nomination.id}}/edit" method="post">

  <div class="form-group">
    <label for="awardId">Award (current awardId: {{nomination.awardId}})</label>
    <select class="form-control" name="awardId">
      {{#each awards}}
        <option value="{{id}}">{{location}}, {{awardcategory}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="personId">Person (current: {{nomination.person}})</label>
    <select class="form-control" name="personId">
      {{#each persons }}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" name="description" placeholder="Description" value="{{nomination.description}}">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
