<h1>Nomination</h1>

<p>Id: {{id}}</p>
<p>AwardId: {{awardId}}</p>
<p>Location: {{location}}</p>
<p>Award Category: {{awardcategory}}</p>
<p>Person: {{person}}</p>
<p>Description: {{description}}</p>
<p>Winner?: {{#if winner}} Yes {{else}} No {{/if}}</p>

<div>
  <a class="btn btn-default" href="/nominations/{{id}}/edit" role="button">Edit</a>
</div>
